<div class="row align-items-center">
    <div class="card">
        <div class="card-header bg-dark text-light">
            <h1 class="card-title text-center bg-warning text-dark">List of Athlete</h1>
        <div class="card-body">
            <div class="list-group" *ngFor="let participant of person">
                <li class="list-group-item">
                    <span>{{participant.name}} <b>({{participant.gender}})</b></span>
                    <span class="float-end">{{participant.age + " years old"}}</span>
                </li>
            </div>
        </div>
            <div class="row align-items-center">
                <button class="btn btn-primary" (click)="allAthlete()">All</button><hr>
                <button class="btn btn-primary" (click)="genderAthlete('male')">Male</button><hr>
                <button class="btn btn-primary" (click)="genderAthlete('female')">Female</button>
            </div>
        </div>
    </div>
</div>